#canvas {
    width: 100%;
}

#canvas > canvas {
    object-fit: contain;
}

#result {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

@media (max-width: 768px) {
    #result {
        width: 85%;
    }   
    #discordEmbed {
        scale: 0.75;
    }
}
#form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#form > * {
    margin: 20px;
}
.form-container {
    width: 40%
}

#export {
    height: 50px;
    width: 100px;
    margin: 10px;
    font-size: larger;
    border-radius: 100px;
    transition: scale 0.5s;
    background-color: var(--color1);
    border: none;
    color: white;
    font-family: JingleStar;
    filter: drop-shadow(10px 10px var(--accent));
    transition: filter 1s;
}

#export:hover {
    scale: 1.1;
    animation: rainbowOutline 5s infinite;
    filter: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 100%;
    }
    
}

.invalid {
    border: 2px solid red;
}

textarea {
    width: 75%;
    resize: vertical;
    min-height: 35px;
    max-height: 300px;
}

/* Inputs */
@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0.301);
    inherits: false;
}

input,textarea,select {
    background-image: linear-gradient(rgba(0,0,0,0), var(--myColor1));
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    padding: 3px;
    transition: --myColor1 0.5s;
}


input:hover, textarea:hover, select:hover {
    --myColor1: rgba(255, 131, 181, 0.733);
}
option {
    color: black;
}