#canvas {
    width: 100%;
}

#canvas > canvas {
    object-fit: contain;
}

#result {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#form > * {
    margin: 20px;
}
.form-container {
    width: 40%
}

.invalid {
    border: 2px solid red;
}

textarea {
    width: 75%;
    resize: vertical;
    min-height: 35px;
    max-height: 300px;
}