:root {
    --color1: #ff68aa;
    --color1-50: rgb(from var(--color1) r g b / 0.5)
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
h1 {
    font-family: JingleStar;
    text-align: center;
    font-size: 75px;
}
h2 {
    text-align: center;
}

h2,h3,h4,h5 {
    font-family: NoteWorthy;
}



@font-face {
    font-family: NoteWorthy;
    src: url(../assets/font/Noteworthy-Lt.ttf);
}

@font-face {
    font-family: JingleStar;
    src: url(../assets/font/JingleStar-YzDXv.ttf);
    font-weight:bold;
}