:root {
    --color1: #ff68aa;
    --color1-50: rgb(from var(--color1) r g b / 0.5)
}

/* TODO: Header 1 Font */
h2,h3,h4,h5 {
    font-family: NoteWorthy;
}

.socialsDiv {
    display: flex;
    justify-content: space-around;
}

.social {
    background-color: var(--color1-50);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
}
.socialImg {
    height: 100px;
    cursor: pointer;
}

.packages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.package {
    background-color: var(--color1-50);
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.package button {
    align-self: center;
    width: 50%;
}

.package:hover {
    animation: rainbowOutline 5s infinite;
}

.package img {
    width: 200px;
    margin: 10px;
    transition: ease 1s;
}

.package img:hover {
    transform: scale(1.1);
}

@keyframes rainbowOutline {
    0% { outline: solid red; }
    14.28% { outline: solid orange; }
    28.57% { outline: solid yellow; }
    42.86% { outline: solid green; }
    57.14% { outline: solid blue; }
    71.43% { outline: solid indigo; }
    85.71% { outline: solid violet; }
    100% { outline: solid red; }
}

@font-face {
    font-family: NoteWorthy;
    src: url(../assets/font/Noteworthy-Lt.ttf);
}