:root {
    --color1: #ff68aa;
    --color2: #ffa1f2;
    --color1-50: rgb(from var(--color1) r g b / 0.5);
    --accent: #f5cb5c;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > img {
    height: 75px;
}

h1 {
    font-family: JingleStar;
    text-align: center;
    font-size: 75px;
}

@media screen and (max-width: 768px) {
    header > img {
        height: 25px;
    }
    h1 {
        font-size: 25px;
    }
    
}
h2 {
    text-align: center;
}

h2,h3,h4,h5 {
    font-family: NoteWorthy;
}

ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul > li {
    margin: 5px;
}
ul > li::before {
    content: '';
    display: inline-block;
    background-image: url(../assets/icons/shooting_star.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
}
.content {
    background-color: var(--color1-50);
    box-shadow:  0 0 50px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 50px;
    margin: 30px;
}

footer {
    text-align: center;
}

a {
    color: var(--color2);
}

@font-face {
    font-family: NoteWorthy;
    src: url(../assets/font/Noteworthy-Lt.ttf);
}

@font-face {
    font-family: JingleStar;
    src: url(../assets/font/JingleStar-YzDXv.ttf);
    font-weight:bold;
}